# Fish shell configuration
# Managed by chezmoi: https://chezmoi.io/

# Set PATH
{{- if eq .chezmoi.os "darwin" }}
set -gx PATH /opt/homebrew/bin /usr/local/bin $PATH
{{- else if eq .chezmoi.os "linux" }}
set -gx PATH /home/linuxbrew/.linuxbrew/bin $PATH
{{- end }}

# Environment variables
set -gx EDITOR vim
set -gx VISUAL code

# Aliases
alias g='git'
alias gs='git status'
alias ga='git add'
alias gc='git commit'
alias gp='git push'
alias gl='git pull'

# Chezmoi alias
alias cz='chezmoi'
alias cza='chezmoi apply'
alias cze='chezmoi edit'
alias czcd='chezmoi cd'

# Load additional configuration from conf.d
for file in ~/.config/fish/conf.d/*.fish
    source $file
end
