# tmux configuration
# Managed by chezmoi: https://chezmoi.io/

# Default shell
{{- if eq .chezmoi.os "darwin" }}
set-option -g default-shell /bin/zsh
{{- else if eq .chezmoi.os "linux" }}
set-option -g default-shell /bin/zsh
{{- else }}
set-option -g default-shell /bin/bash
{{- end }}

# PATH configuration
{{- if eq .chezmoi.os "darwin" }}
set-environment -g PATH "/opt/homebrew/bin:/usr/local/bin:/bin:$PATH"
{{- else if eq .chezmoi.os "linux" }}
set-environment -g PATH "/home/linuxbrew/.linuxbrew/bin:/bin:$PATH"
{{- end }}

# Enable OSC 52 clipboard sequences
set -g set-clipboard on
set -g allow-passthrough all

# Enable mouse support
set -g mouse on

# Extended keys
set -g extended-keys on
set -g extended-keys-format csi-u

# Scrollback buffer
# set -g history-limit 999999

# Status line
set -g status-style 'fg=black,bg=white'

##################################################

# List of plugins
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'jaclu/tmux-menus'

# TPM path (using tpm-redux fork)
run ~/.config/tmux/plugins/tpm-redux/tpm

###################################################
