# tmux configuration
# Managed by chezmoi: https://chezmoi.io/

# Default shell
{{- if eq .chezmoi.os "darwin" }}
set-option -g default-shell /bin/zsh
{{- else if eq .chezmoi.os "linux" }}
set-option -g default-shell /bin/zsh
{{- else }}
set-option -g default-shell /bin/bash
{{- end }}

# PATH configuration
{{- if eq .chezmoi.os "darwin" }}
set-environment -g PATH "/opt/homebrew/bin:/usr/local/bin:/bin:$PATH"
{{- else if eq .chezmoi.os "linux" }}
set-environment -g PATH "/home/linuxbrew/.linuxbrew/bin:/bin:$PATH"
{{- end }}

# Enable OSC 52 clipboard sequences
set -g set-clipboard on
set -g allow-passthrough all

# Enable mouse support
set -g mouse on

# Extended keys
set -g extended-keys on
set -g extended-keys-format csi-u

# Scrollback buffer
# set -g history-limit 999999

# Status line
set -g status-style 'fg=black,bg=white'

##################################################

# List of plugins
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin 'jaclu/tmux-menus'
set -g @plugin 'alberti42/tmux-ssh-syncing'
set -g @plugin 'alberti42/tmux-fzf-links'

# TPM path (using tpm-redux)
run ~/.config/tmux/plugins/tpm-redux/tpm

###################################################

# STYLE

# Pane seperation colors, i.e., lines between panes
set -g pane-active-border-style 'fg=colour243'
set -g pane-border-style 'fg=colour236'

# Brighter text for active window pane
set -g window-style 'fg=colour245'
set -g window-active-style 'fg=colour252'

# Add padding to window names, and visual flag for window activity
set-option -g window-status-format ' #W#{?window_activity_flag,!,} ' 
set-option -g window-status-separator ''

# Default gray on gray status bar style
set-option -g status-style bg=colour236,fg=colour248

# Inactive window labels match the color of the status bar
set-window-option -g window-status-style bg=colour236,fg=colour248

# Active window label is slightly highlighted. Append -Z if a pane is zoomed.
set-window-option -g window-status-current-style bg=colour24,fg=colour14
set-window-option -g window-status-current-style bg=colour239,fg=colour251
set-option -g window-status-current-format ' #W#{?window_zoomed_flag,-Z,} '

# Left status
set -g status-left "#[bg=colour239,fg=colour252]"

# Right status
set -g status-right "#[bg=colour238,fg=colour244] %d %b %H:%M "

###################################################

# Navigation & Indexing

# Set window and pane index to 1 (0 by default) for easier direct access
set-option -g base-index 1
setw -g pane-base-index 1

# Move between windows and sessions
bind-key -r h previous-window
bind-key -r j switch-client -n
bind-key -r k switch-client -p
bind-key -r l next-window
