{
  "env": {
    "CLAUDE_CODE_EXPERIMENTAL_AGENT_TEAMS": "1",
    "ENABLE_TOOL_SEARCH": "true"
  },
  "attribution": {
    "commit": "",
    "pr": ""
  },
  "permissions": {
    "deny": [
      "Read(credentials/)"
    ],
    "defaultMode": "plan"
  },
  "model": "opus",
  "hooks": {
    "PreCompact": [
      {
        "matcher": "",
        "hooks": [
          {
            "type": "command",
            "command": "bd prime"
          }
        ]
      }
    ],
    "SessionStart": [
      {
        "matcher": "",
        "hooks": [
          {
            "type": "command",
            "command": "bd prime"
          }
        ]
      }
    ],
    "PreToolUse": [
      {
        "matcher": "Bash",
        "hooks": [
          {
            "type": "command",
            "command": "{{ .chezmoi.homeDir }}/.claude/hooks/rtk-rewrite.sh"
          }
        ]
      }
    ]
  },
  "statusLine": {
    "type": "command",
    "command": "~/.claude/synthetic-statusline.sh",
    "padding": 0
  },
  "enabledPlugins": {
    "beads@beads-marketplace": true,
    "commit-commands@claude-plugins-official": true,
    "context7@claude-plugins-official": true,
    "csharp-lsp@claude-plugins-official": true,
    "explanatory-output-style@claude-plugins-official": true,
    "github@claude-plugins-official": true,
    "linear@claude-plugins-official": true,
    "playwright@claude-plugins-official": true,
    "pyright-lsp@claude-plugins-official": true,
    "ralph-loop@claude-plugins-official": true,
    "safety-net@cc-marketplace": true,
    "security-guidance@claude-plugins-official": true,
    "serena@claude-plugins-official": true,
    "statusline-tools@claude-settings": true,
    "superpowers@claude-plugins-official": true,
    "typescript-lsp@claude-plugins-official": true
  },
  "outputStyle": "Explanatory",
  "skipDangerousModePermissionPrompt": true,
  "teammateMode": "tmux"
}
