# SSH Configuration
# Managed by chezmoi: https://chezmoi.io/

Host *
    IdentitiesOnly yes
    AddKeysToAgent yes
    ServerAliveInterval 60
    ServerAliveCountMax 3
    Compression yes
    ForwardAgent no

Host github.com
    HostName github.com
    User git
