{
  "$schema": "https://raw.githubusercontent.com/JanDeDobbeleer/oh-my-posh/main/themes/schema.json",
  "version": 2,
  "final_space": true,
  "blocks": [
    {
      "type": "prompt",
      "alignment": "left",
      "segments": [
        {
          "type": "os",
          "style": "diamond",
          "foreground": "#26C6DA",
          "background": "#546E7A",
          "leading_diamond": "\u256d\u2500\u2500",
          "trailing_diamond": "\uE0B0",
          "template": "{{"{{"}}.Icon{{"}}"}}"
        },
        {
          "type": "session",
          "style": "diamond",
          "foreground": "#26C6DA",
          "background": "#546E7A",
          "trailing_diamond": "\uE0B0",
          "template": "{{"{{"}}.UserName{{"}}"}}"
        },
        {
          "type": "path",
          "style": "powerline",
          "powerline_symbol": "\uE0B0",
          "foreground": "#26C6DA",
          "background": "#546E7A",
          "template": "{{"{{"}}.Path{{"}}"}}",
          "properties": {
            "style": "full"
          }
        },
        {
          "type": "git",
          "style": "powerline",
          "powerline_symbol": "\uE0B0",
          "foreground": "#26C6DA",
          "background": "#546E7A",
          "template": "{{"{{"}}.HEAD{{"}}"}} {{"{{"}}.BranchStatus{{"}}"}}{{`{{if .Working.Changed}}`}} \uF044 {{`{{.Working.String}}{{end}}{{if .Staging.Changed}}`}} \uF046 {{`{{.Staging.String}}{{end}}`}}",
          "properties": {
            "fetch_status": true
          }
        }
      ]
    },
    {
      "type": "prompt",
      "alignment": "left",
      "segments": [
        {
          "type": "text",
          "style": "plain",
          "foreground": "#26C6DA",
          "template": "\u2570\u2500\u276F "
        }
      ],
      "newline": true
    }
  ]
}
